body {
  background-color: #999;
  width: 900px;
  margin: 0 auto;
}
.center {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
}
.img-block {
  padding: 0 0 24px 0;
  display: inline-block;
  background-image: url(/images/shadow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 24px;
}
.img-block img {
  display: block;
}
.img-frame {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}
img.loader {
  background-image: url(/images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
blockquote {
  background: url(/images/blockquote-start.png) no-repeat 5px 0;
  background: url(/images/blockquote-start.png) no-repeat 5px 0, url(/images/blockquote-end.png) no-repeat 100% 100%;
  margin: 0 0 30px 0;
  padding: 8px 40px 16px 40px;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
}
blockquote p {
  margin: 0;
}
blockquote span {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
